
<%- include("partials/header"); -%>

<section id="success">
    <div class="success-content">
       <img src="Images/check.png" alt="check" class="successLogo"> 
       <h1>Thank You</h1>
       <h3>The form was submitted successfully.</h3>
    </div>
    
</section>


<%- include("partials/footer"); -%>